.hedi--action-bar {
  position: sticky;
  top: $spacing-09;
  background: #fff;
  min-height: $spacing-10;
  padding: $spacing-07 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 $spacing-07 0;
  @media (max-width: 769px) {
    top: $spacing-07;
  }

  &__items {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    @include carbon--type-style("helper-text-01");
    cursor: pointer;
    display: flex;
    > svg {
      margin: 0 $spacing-02 0 0;
    }
    margin: 0 0 0 $spacing-06;
    &:first-child {
      margin: 0;
    }
  }

  .hedi--separator {
    margin: $spacing-03 0 0;
  }
}
