.hedi--action-bar {
  margin: 2rem 0;

  &__items {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    @include carbon--type-style("helper-text-01");
    display: flex;
    > svg {
      margin: 0 $spacing-02 0 0;
    }
    &:not(:last-child) {
      margin: 0 $spacing-06 0 0;
    }
  }

  .hedi--separator {
    margin: $spacing-03 0 0;
  }
}
