.hedi--article-entry-list {
  &:not(:last-of-type) {
    margin-bottom: $spacing-09;
  }

  &__headline {
    margin-bottom: $spacing-07;
  }
}

.hedi--article-entry {
  border-top: 1px solid $gray-50;
  margin-bottom: $spacing-07;

  &--full {
    padding-top: $spacing-05;
  }

  @media (min-width: 672px) {
    .bx--aspect-ratio {
      max-width: 220px;
    }
  }
  @media (max-width: 672px) {
    .bx--aspect-ratio {
      max-height: 180px;
    }
  }
}

.hedi--article-entry__grid {
  display: grid;
  grid-template-areas: "image text";
  grid-template-columns: 220px 1fr;
  column-gap: $spacing-07;

  @media (max-width: 672px) {
    grid-template-areas:
      "image"
      "text";
    grid-template-columns: 1fr;
    &--content {
      margin-top: $spacing-04;
      .bx--breadcrumb {
        display: flex;
      }
    }
  }

  &--image {
    grid-area: image;
  }
  &--content {
    h4 {
      max-width: 75%;
      margin-bottom: 2rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    grid-area: text;
    &__text-wrap {
      &--full {
        margin-top: $spacing-08;
      }
      @media (min-width: 672px) {
        max-width: 75%;
      }
    }
    // HACK line-clamp still is experimental
    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}