.hedi--article-page {
  background-color: #fff;
  margin-top: -$spacing-12;
  padding-bottom: $spacing-12;
  position: relative;
  p {
    margin: $spacing-07 0;
    &:first-of-type::first-letter {
      font-size: $spacing-07;
      line-height: $spacing-05;
    }
  }
  .hedi--titlegroup {
    margin-bottom: 0;
    padding-top: $spacing-05;
    position: relative;
  }
}
