.hedi--article-page {
  position: relative;
  margin-top: -$spacing-12;
  background-color: #fff;
  .hedi--titlegroup {
    margin-bottom: 0;
    padding-top: $spacing-05;
    position: relative;
  }
}