.hedi--profile-list {
  background-color: $ui-01;
}

.hedi--profile-entry {
  margin-bottom: $spacing-04;
  overflow-wrap: break-word;
  word-wrap: break-word;

  img {
    width: 100%;
    max-width: 350px;
    height: auto;
    background-color: $ui-02;
  }

  .hedi--spacing {
    padding-top: $spacing-08;
  }

  .hedi--profile-entry-content {
    padding: $spacing-05;
  }

  h2,
  h3,
  h5 {
    padding-bottom: $spacing-02;
  }

  h3 {
    font-weight: 300;
    font-size: 1.25rem;
  }

  //setzt das Launch Icon 2px runter
  // TODO warum ist das an zwei stellen definiert
  a > svg {
    margin-bottom: -2px;
  }

  &--with-services {
    background-color: white;

    .hedi__tag-list {
      padding-top: $spacing-04;
    }
  }
}
