.hedi--related-profiles {
  background-color: $blue-60;
  background-image: url(/svg/baby_hand_rotated.svg);
  background-repeat: no-repeat;
  background-position-x: 101%;
  background-position-y: 3rem;
  background-size: 180px;
  color: #fff;
  min-height: 25vh;
  padding: $spacing-md;
  width: 100%;

  @media (max-width: 1056px) {
    background-image: none;
  }

  @media (max-width: 672px) {
    padding: $spacing-xs;
  }

  &--profile {
    // height: 100%;
    margin: $spacing-md 0;

    svg {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }
}
