.hedi--related-profiles {
  background-color: $blue-60;
  background-image: url(/svg/baby_hand_rotated.svg);
  background-repeat: no-repeat;
  background-position-x: 101%;
  background-position-y: 3rem;
  background-size: 180px;
  color: #fff;
  min-height: 25vh;
  padding: $spacing-05;
  width: 100%;

  @media (max-width: 1056px) {
    background-image: none;
  }

  @media (max-width: 672px) {
    padding: $spacing-03;
  }

  &--profile {
    // height: 100%;
    margin: $spacing-05 0;

    svg {
      position: absolute;
      bottom: 0.5rem;
    }
    @include ltr-only() {
      svg {
        @media (min-width: 769px) {
          right: 0.5rem;
        }
      }
    }
    @include rtl-only() {
     svg {
        @media (min-width: 769px) {
          left: 0.5rem;
          transform: rotate(180deg);
        }
      }
    }
  }
}
