.hedi--bg-img-container {
  padding: $spacing-xl 0;
  margin-bottom: $layout-sm;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/profile_bg.png);
    filter: opacity(0.75);
    background-size: contain;
  }

  .bx--row--narrow {
    justify-content: flex-end;
  }

  .hedi--profile-entry {
    &-image {
      background-color: #fff;

      @media (max-width: 769px) {
        svg {
          max-height: 200px;
        }
      }
    }
  }

  > div {
    position: relative;
    width: 100%;
  }

  @media (max-width: 769px) {
    padding: $spacing-md;
  }

  // .bx--row {
  //   margin-right: 0;
  //   margin-left: 0;
  // }
}
