.hedi--bg-img-container {
  padding: $spacing-xl 0;
  margin-bottom: $layout-sm;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/profile_bg.png);
    filter: opacity(0.75);
    background-size: contain;
  }

  .bx--row--narrow {
    justify-content: flex-end;
  }

  .hedi--profile-entry {
    background-color: #fff;
    position: relative;
    // background-color: $warm-gray-10;
    > .bx--btn--ghost {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &-image {

      @media (max-width: 769px) {
        svg {
          max-height: 200px;
        }
      }
    }
  }

  > div {
    position: relative;
    width: 100%;
  }

  @media (max-width: 769px) {
    padding: $spacing-md;
  }

}