@import "./theme/hedi-theme.scss";



.hedi--edit-profile {

  // required to make the dropdowns visible tables
  // cannot be set directly on the table, since the overflow is defined on a wrapping node
  .hedi--group--language-skills {
    .bx--data-table-content {
      overflow-x: visible !important; 
    }
  }

  .bx--form-item {
    margin-bottom: $spacing-lg;
  }


  .bx--label h2, h3, h4{
    color: black;
  }  

  div.hedi--group--profile-type {
    padding: $spacing-xl $spacing-md $spacing-xs $spacing-md;
    margin-bottom: $layout-sm;
    background-color: $blue-primary;
  }


  div.hedi--group--profile-type h2{
    color: white;
  }

  .hedi--service-selection {
    margin-bottom: $spacing-md;
  }

  .hedi--service-selection__head {
    margin-bottom: 0;
  }

  .bx--tile {
    outline: 1px solid white;
    outline-offset: -1px;
  }

  

  .bx--tile--is-selected {
  background-color: $blue-60;
  color: white;
  font-size: 1.1rem;
  outline: 1px solid white;
  outline-offset: -1px;
}

.is-expanded {
  .hedi--service-selection__content {
  margin-top: $spacing-md;
}
}


  .bx--tile-input:checked + .bx--tile > .bx--tile__checkmark svg {
    fill: white;
  }


  h4 {
  padding-bottom: $spacing-md;  
  }

  //Arbeitsschwerpunkt
  //Angebote/Service

}