.hedi--footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: $carbon--spacing-05 ;
  a {
    @include carbon--type-style("productive-heading-02");
    text-decoration: none;
    padding: 1rem;
    background-color:transparent;
    transition:  background-color 110ms cubic-bezier(0, 0, 0.38, 0.9);
    &:hover {
      background-color:$hover-ui;
    }
    
    &:not(:last-child){
      margin-right: 1rem;
    }
  }
}