.hedi--header {
  .bx--header__name {
    svg {
      height: 50px;
      width: auto;
      max-height: 100%;
    }
  }

  .bx--header__menu-toggle__hidden {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .bx--header__menu-bar {
    @media (max-width: 768px) {
      li {
        display: none;
      }
    }
  }
}
