.hedi--language-skills {
  tr {
    display: flex;
    align-items: center;
    padding: $spacing-md;
    background-color: #fff;
    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
    td:first-child {
      min-width: 100px;
    }
  }
  .bx--tile {
    width: 100%;
  }

  svg {
    color: $pink-80;
  }

  @media (max-width: 769px) {
    table {
      width: 100%;
    }
    tbody tr {
      display: flex;
      justify-content: space-between;
    }
  }
}
