.hedi--language-skills {
    margin-bottom: $layout-sm;

  tr {
    display: flex;
    align-items: center;
    padding: $spacing-md;
    background-color: #fff;
    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
    td:first-child {
      min-width: 100px;
    }
  }
  .bx--tile {
    width: 100%;
  }

  svg {
    color: $pink-80;
  }

  h3, h4, h5 {
    padding-bottom: $spacing-xs;
    }
}
