.hedi--profile-list {
  .bx--tile--clickable {
    background-color: white;
    margin: $spacing-md 0;
    &.hedi--profile-list__item {
      &--midwife {
        .hedi--profile-entry-image svg .cls-1 {
          fill: $orange-100;
        }
      }
      &--caregiver {
        .hedi--profile-entry-image svg .cls-1 {
          fill: $green-100;
        }
      }
    }

    &:hover {
      background: #e5e5e5;
    }

    .hedi--profile-entry > div > div:not(:first-child),
    .hedi--profile-entry--with-services {
      background-color: transparent;
    }
  }

  .hedi--profile-entry + svg {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  @media (max-width: 672px) {
    .hedi--profile-entry-image {
    max-width: 50%;
    }

  }

}