.hedi--profile-list {
  .bx--tile--clickable {
    background-color: white;
    margin: $spacing-md 0;

    &.hedi--profile-list__item {
      &--midwife {
        background-color: $orange-40;
      }
      &--caregiver {
        background-color: $green-40;
      }
    }

    &:hover {
      background: #e5e5e5;
    }

    .hedi--profile-entry > div > div:not(:first-child),
    .hedi--profile-entry--with-services {
      background-color: transparent;
    }
  }

}
