.hedi__profile-entry {

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color:$blue-30;
  }
  address {
    display: flex;
    flex-direction: column;
  }

  > div > div:not(:first-child) {
    background-color: #fff;
  }
}
