.hedi--related-profiles {
  background-color: $blue-60;
  background-image:url(/images/Baby_Hand_gedreht.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;;
  color: #fff;
  padding: $spacing-md;
  width: 100%;

  @media (max-width: 1056px) {
    background-image: none;
  }

  &--profile {
    height: 100%;
    margin-bottom: $spacing-md;

    svg {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}