@import "./theme/hedi-theme.scss";

.hedi--simple-page {
  .hedi--app-page-image {
    float: right;
    width: auto;
    img {
    height: 100%;
    width: auto;
    max-height: 250px;
    }
  }

  .hedi--titlegroup {
    margin-bottom: $layout-lg;
  }

  h1 {
    margin-bottom: $spacing-lg;
  }
}
