@import "./theme/hedi-theme.scss";

.hedi--multiple-user-feedback {
  //color:red;
  // Css klappt
  color: black;
}

.hedi--userfeedback-item {
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;


  .bx--text-area__wrapper {
    height: 100%;
  }
}
