@import "./theme/hedi-theme.scss";

.hedi--userfeedback-page {

// Überschreibt das default Padding vom
// CMS bottom
  p {
    margin-bottom: $spacing-xs !important;
  }

.hedi-seperator {
  margin-bottom: $spacing-xl;
}

}

.hedi--userfeedback-item {
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;


  .bx--text-area__wrapper {
    height: 100%;
  }

  .hedi--send-button {
  margin-top: $spacing-md;
  }

}
