// @import "./theme/hedi-theme.scss";
@import "./contentswitcher";
@import "./languageskills";
@import "./serviceselection";
@import "./domains";

.hedi--edit-profile {
  // required to make the dropdowns visible tables
  // cannot be set directly on the table, since the overflow is defined on a wrapping node
  .hedi--group {
    &--language-skills {
      .bx--data-table-content {
        overflow-x: visible !important;
      }
    }

    &--profile-type {
      .bx--row {
        max-width: 100%;
      }
    }
  }

  .bx--form-item {
    margin-bottom: $spacing-06;
  }

  .bx--label h2,
  h3,
  h4 {
    color: black;
  }

  .hedi--group--profile-type {
    width: 100%;
    padding: $spacing-05;
    margin-bottom: $spacing-07;
    background-color: $blue-primary;

    h2 {
      color: white;
    }
    .bx--content-switcher {
      max-width: 550px;
    }
  }

  .hedi--service-selection {
    margin-bottom: $spacing-05;

    &__head {
      margin-bottom: 0;
    }
  }

  .bx--tile--is-selected {
    background-color: $blue-60;
    color: white;
    font-size: 1.1rem;
    outline: 1px solid white;
    outline-offset: -1px;
  }

  .is-expanded {
    .hedi--service-selection__content {
      margin-top: $spacing-05;
    }
  }

  .bx--tile-input:checked + .bx--tile > .bx--tile__checkmark svg {
    fill: white;
  }

  h4 {
    padding-bottom: $spacing-05;
  }
// TODO check if needed global
  input, textarea {
    direction: ltr!important;
  }
}
