.hedi--search__filter {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .bx--form-item.bx--checkbox-wrapper:first-of-type {
    margin-top: 0;
  }
  > * {
    flex: none;
    margin: 0 0 0 $spacing-07;
  }
  fieldset {
    height: 100%;
    > div {
      float: left;
      margin-inline-end: $spacing-07;
    }
  }
}
