.hedi--login-form {
  .hedi--block-label {
    display: block;
  }

  .bx--inline-notification {
    max-width: unset;
  }
  .hedi--group--login {
    form {
      .hedi--login-buttoncontainer {
        display: flex;
        align-items: flex-end;

        span {
          // TODO use TOkens
          margin-inline-start: 10px;
          font-size: 0.9em;
        }

        @media (max-width: 769px) {
          flex-direction: column;
          align-items: flex-start;
          span {
            // TODO use TOkens
            margin-inline-start: 0;
            margin-block-start: 1rem;
          }
        }
      }
    }
  }
}
