.hedi--breadcrumb {
  &__back-link{
    margin: 0 0 0 .5rem;
  }
  .bx--link {
    color: $gray-100!important;
  }

  &__graphical {
    display: flex;
    justify-content: flex-start;
    margin: $spacing-05 0 $spacing-03 0;
    > div {
      width: 16px;
    }
  }
}
