.hedi--footer {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 0 $spacing-07;

  &__nav {
    @extend .bx--header__nav;
    &::before {
      display: none;
    }
  }
  &__menu-bar {
    @extend .bx--header__menu-bar;
  }
  &__menu-item {
    @extend .bx--header__menu-item;
    color: $ui-02!important;
    text-decoration: none!important;
    &:hover {
      color: $ui-02
    }
  }

  span {
    @extend .bx--text-truncate--end;
  }

  svg {
    fill: $ui-02;
  }
}