.hedi--scroll-to-top {
  button.bx--btn.bx--btn--icon-only.bx--tooltip__trigger {
    background-color: $blue-80;
    border-radius: 50%;
    bottom: $spacing-lg;
    color: $text-04;
    cursor: pointer;
    text-align: center;
    position: fixed;
    right: $spacing-md;
    transition: 0.5s;
    z-index: 4;
    &:hover {
      background: $blue-60;
    }
  }

  &__bottom {
    button.bx--btn.bx--btn--icon-only.bx--tooltip__trigger {
      @include ltr-only() {
        bottom: ($spacing-2xl * 2);
      }
    }
  }
}
