.hedi--category-entry-list {
  margin-bottom: $spacing-07;

  @media (min-width: 672px) {
    margin-bottom: $spacing-11;
  }
}

.hedi--category-entry {
  &:hover {
    filter: brightness(1.1);
  }

  a {
    text-decoration: none;
    color: #000;
  }

  @media (min-width: 672px) {
    &__image-wrap {
      margin-bottom: $spacing-03;
    }
    .bx--aspect-ratio {
      padding: 1rem;
    }
  }

  @media (max-width: 672px) {
    margin-bottom: $spacing-03;
    &__image-wrap {
      max-width: $spacing-12;
      max-height: $spacing-12;
      margin-right: $spacing-03;
    }
    > a {
      display: flex;
      align-items: center;
    }
    h4 {
      padding: 0 0 0 $spacing-05;
    }
  }
}
