.hedi--category-entry {
  &__list {
    margin: $spacing-09 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  &__image-wrap {
    padding: $spacing-05;
  }

  @media (max-width: 769px) {
    .hedi--category-entry {
      &__image-wrap {
        max-width: 100px;
        margin: $spacing-05;
        padding: $spacing-05;
      }
    }
    a {
      display: flex;
    }
    h4 {
      padding: 50px 0;
    }
  }
}
