@import "./categoryentry";
@import "./maincategory";
@import "./categoryroot";
.hedi--outside-headline {
  @media (min-width: 672px) {
    transform: translateY(-111%);
  }
  .hedi--titlegroup {
    background-color: #fff;
    padding: 1rem;
    @media (min-width: 672px) {
      padding: 1rem 2rem 0 2rem;
    }
  }
}
