@import "./categoryentry";
@import "./maincategory";
@import "./categoryroot";
.hedi--outside-headline {
  background-color: #fff;
  position: absolute;
  transform: translateY(-100%);
  .hedi--titlegroup {
    margin-bottom: 0;
    padding: $spacing-05 $spacing-07;
    position: relative;
  }
}
