// BASE
html {
  direction: ltr;
}
@each $rtl-lang in $rtl-languages {
  html:lang(#{$rtl-lang}) {
    direction: rtl;
  }
}
.leaflet-container {
  height: 300px;
}
address {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: $spacing-lg 0;
}

pre {
  white-space: pre-wrap;
}
