// Overwrite carbon class temp

.bx--content {
  padding: 0;
  min-height: 90vh;
}

.bx--row {
  @media (max-width: 769px) {
    // HACK
    max-width: 100vw;
  }
}
// TODO values aus token
.bx--tag {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.75rem;

  &:not(:first-child) {
    margin-inline-start: 0;
    margin-inline-end: 0.5rem;
  }
}

.bx--tag--blue {
  color: $blue-90;
}

.bx--toast-notification__title {
  font-weight: 500;
}

.bx--content-switcher-btn {
  background-color: $ui-01;
}
.bx--overflow-menu--open {
  background-color: transparent!important;
}

// OVERWRITES für RTL Context
@include ltr-only() {
  .bx--content-switcher-btn:first-child {
    border-left: 0.0625rem solid $text-01;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .bx--content-switcher-btn:last-child {
    border-right: 0.0625rem solid $text-01;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .bx--content-switcher-btn::before {
    left: 0;
    right: auto;
  }
  .bx--data-table .bx--table-header-label {
    text-align: left;
  }
  .bx--btn .bx--btn__icon {
    right: 1rem;
    left: auto;
  }

  .bx--tile__checkmark {
    right: 1rem;
    left: auto;
  }
  .bx--list-box__menu-icon {
    left: auto;
    right: 1rem;
  }
  .bx--list-box__menu-item__selected-icon {
    right: 1rem;
    left: auto;
  }
}
@include rtl-only() {
  .bx--content-switcher-btn:first-child {
    border-right: 0.0625rem solid $text-01;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .bx--content-switcher-btn:last-child {
    border-left: 0.0625rem solid $text-01;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .bx--content-switcher-btn::before {
    right: 0;
    left: auto;
  }
  .bx--data-table .bx--table-header-label {
    text-align: right;
  }
  // padding buttons
  .bx--btn:not(.bx--btn--icon-only) {
    padding: $button-padding-rtl;
  }
  // icon buttons
  .bx--btn .bx--btn__icon {
    left: 1rem;
    right: auto;
  }
  // chevron
  .bx--tile__checkmark {
    left: 1rem;
    right: auto;
  }
  // dropdown
  .bx--list-box__menu-icon {
    right: auto;
    left: 1rem;
  }
  .bx--list-box__menu-item__option {
    padding-left: 1.5rem;
    text-align: right;
  }
  .bx--list-box__menu-item__selected-icon {
    left: 1rem;
    right: auto;
  }
  // Inline Notification
  .bx--inline-notification--low-contrast.bx--inline-notification--success {
    border-right: 3px solid $support-02;
    border-left: unset;
  }
  .bx--inline-notification__icon {
    margin-right: 0;
    margin-left: 1rem;
  }
  .bx--inline-notification--low-contrast::before {
    border-width: 1px 0 1px 1px;
  }
  // ghost button
  .bx--btn--ghost .bx--btn__icon {
    margin-left: 0;
    margin-right: 0.5rem;
  }
}
