$rtl-languages: "fa";
$ltr-languages: "de", "en";

@mixin ltr-only() {
  @each $language in $ltr-languages {
    @at-root {
      html:lang(#{$language}) #{&} {
        @content;
      }
    }
  }
}
@mixin rtl-only() {
  @each $language in $rtl-languages {
    @at-root {
      html:lang(#{$language}) #{&} {
        @content;
      }
    }
  }
}
